[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
csharp_new_line_before_open_brace = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0044.severity = none